<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <form method="post" action="name?action=login">
        <input type="text" placeholder="用户名" name="username">
        <input type="password" placeholder="密码" name="userpwd">
        <input type="submit" value="登录">
        <input type="submit" value="注册" formaction="user?action=register">
    </form>

    <script type="text/JavaScript">


    </script>
<span id="span">
{{ failmsg or '' }}
    </span>
</body>
</html>